<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rythm Riddle | Login & Sign in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    
</head>
<body>
    <div class="wrapper">
   <nav class="nav">
     <div class="nav-logo">
       <p>Rythm Riddle .</p>
    </div>

    <div class="nav-menu">
<ul>
<li><a href="#" class="link.active">Home</a></li>
<li><a href="#" class="link">About</a></li>
</ul>
    </div>
    <div class="nav-button">
<button class="btn white-btn" id="loginbtn" onclick="location.href='login.html'">Login In</button>
<button class="btn" id="registerbtn"onclick="location.href='sign.html'">Sign Up</button>
    </div>
    <div class="nav-menu-btn">
        <i class="bx bx-menu"></i>
    </div>
   </nav>
</div>
    
</body>
</html>