<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rythm Riddles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
    <div class="home">
        <header>
            Rythm Riddles
        </header>
        <div class="punch_line">
            <p>Crack the Beat. Solve the Riddle. Own the Rhythm.</p>
        </div>
        <a href="{{ url_for('login') }}" class="button">Sign In / Login</a>
    </div>
</body>
</html>
